{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{food_item.FoodName}} {% endblock title %}
{% block content %}


<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h1 class="d-flex justify-content-center mt-5" style="color:#4CAF50"> FOODLAND : {{view_food.FoodName}}</h1>
      </div>
  </div>


<section style="background-color: #fff">
  <div class="container mb-5">
    
    
    <div class="row justify-content-center">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-12 col-xl-12 mb-5 mb-lg-0">
                <div class="bg-image d-flex justify-content-center hover-zoom ripple rounded ripple-surface mb-5">
                  <img class="img-thumbnail w-50" src="{{view_food.Image}}"/ >
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h5 class="text-decoration-underline">{{view_food.FoodName}}</h5>
                <div class="d-flex flex-row">
                  
                </div>
                <div class="mt-1 mb-5 text-muted small">
            
                  <h6 > • Carbs : <span class="text-success"> {{view_food.Carbs}} </span></h6>
                  <h6>  • Protein : <span class="text-success">{{view_food.Protein}}</span> </h6>
                  <h6 > • Fat : <span class="text-success">  {{view_food.Fat}} </span></h6>
                  <h6 > • Calories Count : <span class="text-success">  {{view_food.TotalCalories}} </span></h6>
                </div>
                <h6 class="text-success">Category:</h6>
                <p class="text-muted mb-5">{{view_food.Category}}</p>
                <h6 class=" mb-4 mb-md-0 text-muted mt-5" > Ingredients : <span > {{view_food.Ingredients}} </span> </h6>
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                  
                  
                </div>
                <h6 class="text-success">Type:</h6>
                <p class="text-muted mb-5">{{view_food.Type}}</p>
                
                <h6 class="text-success">Serving Size:</h6>
                <p class="text-muted mb-5">{{view_food.ServingSize}}</p>
                <h6 class="text-success">Veg/Nonveg:</h6>
                <p class="text-muted mb-5">{{view_food.Veg_NonVeg}}</p>
                
                <div class="d-flex flex-column mt-4">
                  <form method="post" action="{% url 'index' %}" onsubmit="myFunction()">
                    {% csrf_token %}
                    <input type="hidden" name="food_id" value="{{ view_food.FoodID }}">
                    <div>
                      <label for="rating" class="text-muted mr-2"> Rate Food:</label>
                        <input type="number" name="rating" id="rating" min="1" max="10" step="0.1" class="form-control w-100 ">
                        <button type="submit" class="btn btn-primary w-100 btn-sm mt-2"  style="cursor: pointer;">Submit</button>
                        
                      </div>
                      
                </form>
              

                 
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  @media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }
</style>
<script>
  function myFunction() {
    alert("Rating Submitted Succesfully!");
}
  
</script>
{%endblock content%}







